---
import { ProjectStatus } from "@/content.config";

interface Props {
    status: keyof typeof ProjectStatus;
}

const { status } = Astro.props;
---

<div
    class="inline-flex items-center px-2 py-1 text-xs font-normal leading-none text-blue-700 bg-blue-100 rounded-lg"
>
    <span class="relative flex h-2 w-2 mr-2">
        <span
            class="animate-ping absolute inline-flex h-full w-full rounded-full bg-blue-400 opacity-65"
        ></span>
        <span class="relative inline-flex rounded-full h-2 w-2 bg-blue-500"
        ></span>
    </span>
    {ProjectStatus[status]}
</div>
