---
import { ProjectStatus } from "@/content.config";

interface Props {
    status: keyof typeof ProjectStatus;
}

const { status } = Astro.props;
---

<div
    class="inline-flex items-center px-2 py-1 text-xs font-normal leading-none text-yellow-700 bg-yellow-100 rounded-lg"
>
    {ProjectStatus[status]}
</div>
