---
import MainLayout from "@/layouts/MainLayout.astro";
import "@/styles/global.css";
import BlackButton from "@/components/ui/buttons/BlackButton.astro";
import { formatList } from "astro/runtime/server/render/util.js";
---

<MainLayout>
    <div class="flex flex-col justify-center items-center h-dvh gap-5">
        <h1 class="text-xl font-cascadia">Hoppla</h1>
        <p class="text-md font-cascadia">This page was not found</p>
        <BlackButton
            title="Go Home"
            link="/"
            iconClass="fa-solid fa-house"
            newTab={false}
        />
    </div>
</MainLayout>
