---
import "../styles/global.css";
import MainLayout from "@/layouts/MainLayout.astro";
import BlackButton from "@/components/ui/buttons/BlackButton.astro";
import ProjectPreviewCard from "@/components/ui/ProjectPreviewCard.astro";
import JobCard from "@/components/ui/JobCard.astro";

import { getCollection } from "astro:content";

const projects = await getCollection("projects");
---

<MainLayout title="Home">
    <div class="p-2 md:pt-20 pt-10 flex flex-col items-center">
        <div class="bg-warm overflow-hidden flex items-center justify-center">
            <div class="flex flex-col items-center gap-8 px-7 max-w-4xl">
                <div class="relative w-[120px] h-[120px]">
                    <div class="relative w-full h-full">
                        <img
                            src="/pictures/profile-image500.webp"
                            alt="Profile picture"
                            class="relative w-full h-full object-cover rounded-lg [mask-image:radial-gradient(circle_at_center,black_65%,transparent_95%)]"
                        />
                    </div>
                </div>

                <h1
                    class="text-black text-2xl text-center break-words font-cascadia"
                >
                    Welcome :)
                </h1>

                <div class="flex flex-wrap w-full justify-center gap-2">
                    <JobCard
                        iconClass="fa-solid fa-graduation-cap"
                        textTop="Computer Science Student"
                        textBottom="Technische Hochschule Ingolstadt"
                        link="https://www.thi.de/"
                    />
                    <JobCard
                        iconClass="fa-solid fa-briefcase"
                        textTop="Working Student"
                        textBottom="TSG Deutschland"
                        link="https://www.tsg-solutions.com"
                    />
                </div>

                <p
                    class="text-gray-600 font-normal text-md text-center break-words max-w-2xl font-bricolage"
                >
                    Nice to meet you, I'm Nico. After a gap year in New Zealand,
                    I am now studying computer science in Germany. Come back
                    later to take a look at my current and past projects.
                </p>

                <div class="space-x-4">
                    <BlackButton
                        title="LinkedIn"
                        link="https://www.linkedin.com/in/nico-maertin/"
                        iconClass="fa-brands fa-linkedin"
                        newTab={true}
                    />
                    <BlackButton
                        title="E-Mail"
                        link="mailto:contact@nico-maertin.com"
                        iconClass="fa-solid fa-at"
                        newTab={true}
                    />
                </div>
            </div>
        </div>

        <div
            id="projects"
            class="border border-gray-300 bg-gray-100 rounded-xl p-5 relative mt-20 lg:w-4xl w-full"
        >
            <h1
                class="absolute -top-4 bg-gray-200 px-2 py-0.5 rounded-md text-gray-600 inline font-cascadia uppercase font-bold text-sm"
            >
                My Projects
            </h1>
            <div class="grid grid-cols-1 lg:grid-cols-2 gap-3">
                {projects.map((p) => <ProjectPreviewCard project={p} />)}
                <div
                    class="flex items-center justify-center p-10 border border-black/10 rounded-xl"
                >
                    <p class="text-center text-gray-400 font-cascadia">
                        More Projects coming soon
                    </p>
                </div>
            </div>
        </div>
    </div></MainLayout
>
