---
import MainLayout from "@/layouts/MainLayout.astro";
import Tag from "@/components/ui/Tag.astro";
import BlackButton from "@/components/ui/buttons/BlackButton.astro";
import ImageResponsive from "@/components/ui/ImageResponsive.astro";
import "@/styles/global.css";
---

<MainLayout>
    <div
        id="headerContainer"
        class="font-bricolage flex justify-center items-center px-15"
    >
        <div
            class="flex flex-col justify-center items-center rounded-2xl mt-30 text-center"
        >
            <div>
                <div
                    class="inline-flex items-center px-3 py-1 text-sm font-medium leading-none text-green-700 bg-green-100 rounded-full"
                >
                    <span class="relative flex h-2 w-2 mr-2">
                        <span
                            class="animate-ping absolute inline-flex h-full w-full rounded-full bg-green-400 opacity-65"
                        ></span>
                        <span
                            class="relative inline-flex rounded-full h-2 w-2 bg-green-500"
                        ></span>
                    </span>
                    Completed
                </div>
            </div>
            <h1 class="font-semibold lg:text-6xl text-5xl mt-7">
                Super Duper Project
            </h1>
            <h2 class="lg:text-3xl text-2xl mt-5">
                An App To Find Garden Buddies
            </h2>
            <div class="mt-10">
                <h2 class="text-center text-sm">TECH I'VE USED</h2>
                <div class="flex justify-center flex-wrap gap-2">
                    <Tag title="Astro" />
                    <Tag title="Tailwind" />
                </div>
                <div class="flex flex-wrap justify-center gap-4 mt-10">
                    <BlackButton
                        title="Open Repository"
                        link="https://google.com"
                        iconClass="fa-brands fa-github"
                    />
                    <BlackButton
                        title="Demo"
                        link="https://google.com"
                        iconClass="fa-solid fa-link"
                    />
                </div>
            </div>
        </div>
    </div>
    <div class="w-full mt-30 rounded-2xl lg:px-50 px-10">
        <ImageResponsive
            src="https://framerusercontent.com/images/Muvrwo0iPNQVc9oCSgA0HP3pkro.jpg?scale-down-to=2048"
            class="rounded-2xl overflow-hidden"
            alt="Super Duper Project"
        />
    </div>
    <div class="mt-50">
        <div
            class="font-bricolage flex lg:flex-row flex-col flex-wrap justify-center lg:gap-0 gap-10"
        >
            <div class="flex-1">
                <h1
                    class="text-4xl font-semibold lg:text-right text-left px-15 lg:pl-15 lg:pr-0"
                >
                    My Motivation
                </h1>
            </div>
            <div class="flex-2">
                <p class="text-lg px-15">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Itaque eum recusandae, laudantium distinctio vero eligendi
                    molestias voluptate aspernatur voluptatem nihil, voluptas,
                    ab fugit soluta consectetur laboriosam dolores illum vel
                    explicabo. Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. Itaque eum recusandae, laudantium
                    distinctio vero eligendi molestias voluptate aspernatur
                    voluptatem nihil, voluptas, ab fugit soluta consectetur
                    laboriosam dolores illum vel explicabo.
                </p>
            </div>
        </div>
    </div>
</MainLayout>
