---
import Tag from "@/components/ui/Tag.astro";
import BlackButton from "@/components/ui/buttons/BlackButton.astro";
import MainLayout from "@/layouts/MainLayout.astro";
import ImageResponsive from "@/components/ui/ImageResponsive.astro";
import "@/styles/global.css";
import { getCollection, render } from "astro:content";
import ProjectCard from "@/components/ui/ProjectCard.astro";

export async function getStaticPaths() {
    const projects = await getCollection("projects");
    return projects.map((project) => ({
        params: { id: project.id },
        props: { project },
    }));
}

const { project } = Astro.props;
const { Content } = await render(project);
---

<MainLayout>
    <div class="lg:px-80 lg:pt-20 p-10">
        <div
            id="headerContainer"
            class="font-cascadia flex lg:flex-row flex-col justify-center gap-10"
        >
            <div
                class="w-full flex flex-col justify-start items-start rounded-2xl text-left flex-2 border border-black/10 p-5"
            >
                <div>
                    <div
                        class="inline-flex items-center px-4 py-2 text-sm font-medium leading-none text-green-700 bg-green-100 rounded-lg font-cascadia"
                    >
                        <span class="relative flex h-2 w-2 mr-2">
                            <span
                                class="animate-ping absolute inline-flex h-full w-full rounded-full bg-green-400 opacity-65"
                            ></span>
                            <span
                                class="relative inline-flex rounded-full h-2 w-2 bg-green-500"
                            ></span>
                        </span>
                        Demo Available
                    </div>
                </div>
                <h1 class="font-semibold text-4xl mt-5">Super Duper Project</h1>
                <h2 class="lg:text-xl text-xl mt-5">
                    This is a short description of the project.
                </h2>
                <div class="mt-10">
                    <h2 class="text-left text-sm">TECH I'VE USED</h2>
                    <div class="flex justify-start flex-wrap gap-2">
                        <Tag title="Astro" />
                        <Tag title="Tailwind" />
                        <Tag title="Tailwind" />
                        <Tag title="Tailwind" />
                        <Tag title="Tailwind" />
                    </div>
                    <div class="flex flex-wrap justify-start gap-4 mt-10">
                        <BlackButton
                            title="Open Repository"
                            link="https://google.com"
                            iconClass="fa-brands fa-npm"
                        />
                        <BlackButton
                            title="Demo"
                            link="https://google.com"
                            iconClass="fa-solid fa-link"
                        />
                    </div>
                </div>
            </div>
            <div class="rounded-2xl flex-3">
                <ImageResponsive
                    src="https://framerusercontent.com/images/Muvrwo0iPNQVc9oCSgA0HP3pkro.jpg"
                    class="rounded-2xl overflow-hidden h-full object-cover"
                    alt="Super Duper Project"
                />
            </div>
        </div>
        <div class="bg-gray-50 border p-5 border-black/10 rounded-lg mt-20">
            <div
                class="prose prose-h1:font-cascadia prose-h1:text-2xl prose-p:font-bricolage prose-p:text-justify prose-img:rounded-2xl prose-img:mb-0 max-w-none
                prose-a:px-1 prose-a:py-0.5 prose-a:bg-gray-200 prose-a:rounded-md prose-a:no-underline
                prose-"
            >
            </div>
        </div>
    </div>
</MainLayout>
