---
import Tag from "@/components/ui/Tag.astro";
import BlackButton from "@/components/ui/buttons/BlackButton.astro";
import MainLayout from "@/layouts/MainLayout.astro";
import "@/styles/global.css";
import { getCollection, render } from "astro:content";
import ProjectCard from "@/components/ui/ProjectCard.astro";

export async function getStaticPaths() {
    const projects = await getCollection("projects");
    return projects.map((project) => ({
        params: { id: project.id },
        props: { project },
    }));
}

const { project } = Astro.props;
const { Content } = await render(project);
---

<MainLayout title={project.data.title}>
    <div class="flex flex-col items-center mt-5">
        <div class="md:w-3xl lg:w-5xl w-full px-2 mb-5">
            <a href="/">
                <div
                    class="text-gray-700 flex items-center gap-2 font-cascadia text-sm bg-gray-100 w-fit px-2 py-1 rounded-sm"
                >
                    <i class="fa-solid fa-arrow-left"></i>
                    <p>Back</p>
                </div>
            </a>
        </div>

        <div class="flex flex-col gap-10 md:w-3xl lg:w-5xl px-2">
            <div
                id="headerContainer"
                class="font-cascadia flex md:flex-row flex-col justify-center gap-10"
            >
                <ProjectCard project={project} />
                <div class="rounded-2xl flex-3">
                    <img
                        src={project.data.image}
                        class="rounded-2xl overflow-hidden h-full object-cover w-full"
                        alt={project.data.title}
                    />
                </div>
            </div>
            <div class="bg-gray-100 border p-5 border-black/10 rounded-2xl">
                <div
                    class="prose prose-h1:font-cascadia prose-h1:text-2xl prose-p:font-bricolage prose-p:text-justify prose-img:rounded-2xl prose-img:mb-0 max-w-none
                prose-a:px-1 prose-a:py-0.5 prose-a:bg-blue-300 prose-a:rounded-md prose-a:no-underline"
                >
                    <Content />
                </div>
            </div>
        </div>
    </div>
</MainLayout>
