---
const { title, link, iconClass } = Astro.props;
---

<button
    ><a
        href={link}
        class="font-medium inline-block px-4 py-2 bg-black text-white rounded hover:bg-gray-800 transition"
        target="_blank"
        rel="noopener noreferrer"><i class={iconClass}></i> {title}</a></button
>
