---
interface Props {
    title: string;
    link: string;
    iconClass: string;
    newTab: boolean;
}

const { title, link, iconClass, newTab } = Astro.props;
---

<button>
    <a
        href={link}
        class="font-cascadia font-medium inline-block px-4 py-2 bg-black text-white rounded-lg hover:bg-gray-800 transition"
        target={newTab ? "_blank" : ""}
    >
        {title}
        <i class={iconClass}></i></a
    >
</button>
