---
const { iconClass, textTop, textBottom, link } = Astro.props;

interface Props {
    iconClass: string;
    textTop: string;
    textBottom: string;
    link?: string;
}
---

<a href={link} target="_blank">
    <div
        class="flex gap-2 items-center text-gray-600 text-sm font-cascadia bg-gray-100 w-fit px-2 py-1 rounded-md border border-gray-200"
    >
        <i class={iconClass}></i>
        <div>
            <p class="text-nowrap">{textTop}</p>
            <p class="text-nowrap">@ {textBottom}</p>
        </div>
    </div>
</a>
