---
import BlackButton from "@/components/ui/buttons/BlackButton.astro";
import Tag from "@/components/ui/Tag.astro";

// TODO: use props to display information
const { title } = Astro.props;
---

<div
    class="w-full flex flex-col justify-start items-start rounded-2xl text-left flex-2 border border-black/10 p-5 font-cascadia"
>
    <div>
        <div
            class="inline-flex items-center px-4 py-2 text-sm font-medium leading-none text-green-700 bg-green-100 rounded-lg"
        >
            <span class="relative flex h-2 w-2 mr-2">
                <span
                    class="animate-ping absolute inline-flex h-full w-full rounded-full bg-green-400 opacity-65"
                ></span>
                <span
                    class="relative inline-flex rounded-full h-2 w-2 bg-green-500"
                ></span>
            </span>
            Demo Available
        </div>
    </div>
    <h1 class="font-semibold text-4xl mt-5">{title}</h1>
    <h2 class="lg:text-xl text-xl mt-5">
        This is a short description of the project.
    </h2>
    <div class="mt-10">
        <h2 class="text-left text-sm">TECH I'VE USED</h2>
        <div class="flex justify-start flex-wrap gap-2">
            <Tag title="Astro" />
            <Tag title="Tailwind" />
            <Tag title="Tailwind" />
            <Tag title="Tailwind" />
            <Tag title="Tailwind" />
        </div>
        <div class="flex flex-wrap justify-start gap-4 mt-10">
            <BlackButton
                title="Open Repository"
                link="https://google.com"
                iconClass="fa-brands fa-github"
            />
            <BlackButton
                title="Demo"
                link="https://google.com"
                iconClass="fa-solid fa-link"
            />
        </div>
    </div>
</div>
