---
import type { CollectionEntry } from "astro:content";
import Tag from "@/components/ui/Tag.astro";

interface Props {
    project: CollectionEntry<"projects">;
}

const { project } = Astro.props;
---

<div
    class="flex-1 grow lg:min-w-[350px] flex flex-col justify-start items-start rounded-2xl text-left border border-black/10 bg-white p-5 font-cascadia hover:shadow-md transition-shadow duration-300"
>
    <a class="w-full" href={`/projects/${project.id}`}>
        <div>
            <div
                class="inline-flex items-center px-4 py-2 text-sm font-medium leading-none text-green-700 bg-green-100 rounded-lg"
            >
                <span class="relative flex h-2 w-2 mr-2">
                    <span
                        class="animate-ping absolute inline-flex h-full w-full rounded-full bg-green-400 opacity-65"
                    ></span>
                    <span
                        class="relative inline-flex rounded-full h-2 w-2 bg-green-500"
                    ></span>
                </span>
                {project.data.status == "live" && "Online"}
                {project.data.status == "outdated" && "Not Online"}
                {project.data.status == "inProgress" && "In Progress"}
            </div>
        </div>
        <h1 class="font-semibold text-4xl mt-5">{project.data.title}</h1>
        <h2 class="lg:text-xl text-xl mt-5">
            {project.data.description}
        </h2>
        <div class="mt-10 flex justify-between w-full items-center">
            <div class="flex justify-start flex-wrap gap-2 items-center">
                {project.data.techUsed.map((tech) => <Tag title={tech} />)}
            </div>
            <i class="fa-solid fa-link text-xl text-slate-800"></i>
        </div>
    </a>
</div>
